= render partial: "products/header"
- breadcrumb :user_credit
= breadcrumbs pretext: "",separator: " &rsaquo; "

.user-show
  = render partial: 'user-show__side'

  .user-show__credit
    .user-show__credit__menu
      .user-show__credit__menu__list
        %h4 クレジットカード一覧
        - if @default_credit_information.blank?
          =link_to new_credit_path do
            %button.user-show__credit__menu__list__btn クレジットカードを追加する
        - else     
          .user-show__credit__menu__list__card
            = image_tag "credit/logo_visa.gif", class: "user-show__credit__menu__list__card--img"
            %p.user-show__credit__menu__list__card--num
              = "**** **** **** " + @default_credit_information.last4
            %p.user-show__credit__menu__list__card--date
              - exp_month = @default_credit_information.exp_month.to_s
              - exp_year = @default_credit_information.exp_year.to_s.slice(2,3)
              = exp_month + "/" + exp_year
            = form_tag(credit_path(current_user.id), method: :delete, id: 'charge-form',  name: "inputForm", ) do
              %input{ type: "hidden", name: "card_id", value: "" }
              %button.user-show__credit__menu__list__card--delete 削除する 
      %p.user-show__credit__menu__link
        = link_to "お支払方法について", user_path

= render partial: "products/footer"