= render partial: "products/header"
- breadcrumb :user_show
= breadcrumbs pretext: "",separator: " &rsaquo; "

.user-show
  = render partial: 'user-show__side'

  .user-show__products
    %h2.user-show__products__title
      出品した商品
    - @products.each do |product|
      = link_to product_path(product.id), class: "user-show__products__link" do
        .user-show__products__link__selling
          .user-show__products__link__selling__img
            = image_tag product.images.first.src.url
          .user-show__products__link__selling__info
            %p.user-show__products__link__selling__info__name
              = product.name
            %span.user-show__products__link__selling__info__heart
            = icon("far", "heart")
            0
            %span.user-show__products__link__selling__info__comment
            = icon("far", "comment")
            = product.comments.count
            - if product.buyer_id.present?
              %span.user-show__products__link__selling__info--sold
                売却済
            - else
              %span.user-show__products__link__selling__info--sale
                出品中
          .user-show__products__link__selling__next
            %span
            = icon("fa", "angle-right")

= render partial: "products/footer"