.user-sign
  .user-sign__head
    .user-sign__head__logo
      = link_to image_tag(asset_path("material/logo/logo.png"), size: "160x100",alt: "サンプル画像"), root_path
  .user-sign__form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %h2 ログイン
      .user-sign__form__field
        = f.label :メールアドレス
        %br/
        = f.text_field :email, autocomplete: "email", placeholder: "メールアドレスを入力してください", autofocus: true, class: "user-sign__form__field__text-form"
      .user-sign__form__field
        = f.label :パスワード
        %br/
        = f.text_field :password, autocomplete: "new-password", placeholder: "パスワードを入力してください", type: "password", class: "user-sign__form__field__text-form"
      .user-sign__form__submit
        = f.submit "ログイン", class: "user-sign__form__submit__btn"
= render partial: "./products/footer_sub"