= render partial: "products/header"

.search__container
  = render partial: "searches/side"

  .search__content
    - if @products.present? && @search.present?
      .search__result-head
        %span.search__result-head-text 検索結果
      .search__result-number
        = "1-#{@products.count}件表示"
      .search__groups
        - @products.each do |product|
          - if product.buyer_id == nil
            .search__group
              = link_to product_path(product.id) ,class:"search__group-link" do
                = image_tag product.images.first.src.url, class:"search__group__image"
                .search__group__text
                  .search__group__text__detail
                    = product.name
                .search__group__price
                  = "¥#{product.price}"
          - else 
            .search__group
              = link_to product_path(product.id) ,class:"search__group-link" do
                = image_tag product.images.first.src.url, class:"search__group__image"
                .search__group__image__inner
                  .search__group__image__inner__sold SOLD
                .search__group__text
                  .search__group__text__detail
                    = product.name
                .search__group__price
                  = "¥#{product.price}"
                    
    - else
      .search__result-head
        %span.search__result-head-text 検索結果 
      .search__miss
        該当する商品が見つかりません。検索条件を変えて、再度お試しください。   
      
= render partial: "products/footer"