.purchase-footer 
  %ul.purchase-footer__links
    = link_to "#", class:"purchase-footer__atag" do 
      %li.purchase-footer__link
        プライバシーポリシー
    = link_to "#", class:"purchase-footer__atag" do    
      %li.purchase-footer__link
        フリマ利用規約
    = link_to "#", class:"purchase-footer__atag" do    
      %li.purchase-footer__link
        特定商取引に関する表記
  = link_to "#" do
    = image_tag "material/logo/logo.png", class:"purchase-footer__logo"
  .purchase-footer__copyright
    ©︎ FURIMA