%main
  = render partial: "products/header"

.headline
  =image_tag "/assets/material/pict/bg-mainVisual-pict_pc.jpg"
  .headline__text  
    %h2 人生を変えるフリマアプリ  
    %p.headline__text-letter
      FURIMAはだれでも簡単に出品・購入できる
      %br フリマアプリです
    .headline__text-link
      %P.headline__text-link-app
        =link_to image_tag("https://linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg",size: '190x60'),"#"
      %p.headline__text-link-google
        =link_to image_tag("https://play.google.com/intl/ja/badges/static/images/badges/ja_badge_web_generic.png"),"#"

.reason
  .reason__title
    %h2 FURIMAが選ばれる3つの理由
  .reason__text
    %ul
      .reason__text-number 1
      =image_tag "/assets/material/pict/pict-reason-01.jpg",:size =>'320x480'
      %li
        %h3 
          %span 3分
          ですぐ出品
      %li
        %p 
          スマホで入力するだけで簡単に出品で
          %br きる！
    %ul
      .reason__text-number 2
      =image_tag "/assets/material/pict/pict-reason-02.jpg",:size =>'320x480' 
      %li
        %h3 
          %span シンプル
          で使いやすい
      %li
        %p
          めんどくさい入力は必要なく、検索も
          %br 購入もスムーズ！
    %ul
      .reason__text-number 3
      =image_tag "/assets/material/pict/pict-reason-03.jpg",:size =>'320x480' 
      %li.reason__text-list
        %h3 手数料 
        %span 業界最安
      .reason__text-letter
        最大3%でお得に出品&購入！

.grade
  .grade__image
  .grade__text
    %h2 会員数日本一位
    %p
      %br FURIMAは、フリマアプリで最も人気。
      %br 出品・購入回数も業界最多です！
      %br ほしかったあの商品に出会えるかもしれません。
    .grade__text-link
      %P.grade__text-link-app
        =link_to image_tag("https://linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg",size: '190x60'),"#"
      %P.grade__text-link-google
        =link_to image_tag("https://play.google.com/intl/ja/badges/static/images/badges/ja_badge_web_generic.png"),"#"


.feature
  .feature__title
    %h2 FURIMAの特徴
  .feature__text
    %ul
      =image_tag "/assets/material/icon/icon-01.png",:size =>'219x338'
      %li
        %h3 簡単に売り買いできる
        %p 
          スマホひとつで、いつでもどこでも簡単
          %br に出品・購入が可能！
    %ul
      =image_tag "/assets/material/icon/icon-03.png",:size =>'219x338'
      %li
        %h3 売上金は即日振り込みに対応
        %p 
          午前9時までに振込を依頼いただけれ
          %br ば、翌日に指定の口座に入金いたします！
    %ul
      =image_tag "/assets/material/icon/icon-04.png",:size =>'219x338'
      %li
        %h3 様々な支払いに対応
        %p 
          お支払いは、クレジットカードだけでな
          %br く、ポイントや売上金など多彩な方法が
          %wbr あります。

.category
  .category__title
    %h2 ピックアップカテゴリー
    %h3 新規投稿商品
  .category__text
    .category__text__space
      = image_tag "/assets/material/pict/bg-appBanner-pict.jpg", class: "category__text__space__image"
      .category__text__space__name
        %p product3
      .category__text__space__price
        %p 30000円
      .category__text__space__tax
        %p (税込)
    .category__text__space
      = image_tag "/assets/material/pict/bg-appBanner-pict.jpg", class: "category__text__space__image"
      .category__text__space__name
        %p product2
      .category__text__space__price
        %p 20000円
      .category__text__space__tax
        %p (税込)
    .category__text__space
      = image_tag "/assets/material/pict/bg-appBanner-pict.jpg", class: "category__text__space__image"
      .category__text__space__name
        %p product1
      .category__text__space__price
        %p 10000円
      .category__text__space__tax
        %p (税込)
  .category__title
    %h2 ピックアップブランド
    %h3 アーカイバ
  .category__text
    .category__text__space
      = image_tag "/assets/material/pict/bg-appBanner-pict.jpg", class: "category__text__space__image"
      .category__text__space__name
        %p product3
      .category__text__space__price
        %p 30000円
      .category__text__space__tax
        %p (税込)
    .category__text__space
      = image_tag "/assets/material/pict/bg-appBanner-pict.jpg", class: "category__text__space__image"
      .category__text__space__name
        %p product2
      .category__text__space__price
        %p 20000円
      .category__text__space__tax
        %p (税込)
    .category__text__space
      = image_tag "/assets/material/pict/bg-appBanner-pict.jpg", class: "category__text__space__image"
      .category__text__space__name
        %p product1
      .category__text__space__price
        %p 10000円
      .category__text__space__tax
        %p (税込)

.publicity
  .publicity__image
  .publicity__text
    %h2 だれでもかんたん、人生を変えるフリマアプリ
    %p 今すぐ無料ダウンロード！
    .publicity__text-link
      %P.publicity__text-link-app
        =link_to image_tag("https://linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg",size: '190x60'),"#"
      %P.publicity__text-link-google
        =link_to image_tag("https://play.google.com/intl/ja/badges/static/images/badges/ja_badge_web_generic.png"),"#"

%main
  = render partial: "products/footer"

.icon
  = link_to "#", class: "icon__link" do
    .icon__link__title
      出品する
    .icon__link__image
      = image_tag "/assets/material/icon/icon_camera.png",size: "54x54", alt: "サンプル画像"