.product-page
  = render partial: "header_sub"
  .product-ex
    .product-ex__main
      = form_for @product do |f|
        -# 今後実装するかもしれないので一旦コメントアウト
        -# = render "devise/shared/error_messages", resource: @product
        .product-ex__main__input-form
          .product-ex__main__input-form__image
            .product-ex__main__input-form__image__image-title
              %label.product-info 商品画像 
              %span.necessary 必須
            %p.max-uploads
              最大4枚までアップロードできます
            .post__drop__box__container
              .prev-content
              .label-content#image-box
              .hidden-content
                = icon("fas", "camera")
                %p クリックしてファイルをアップロード
                .hidden-content-image
                  =image_tag '',id:"image-file",height:"150",width:"150"
                  #hidden-content-delete 削 除
                  =image_tag '',id:"image-file1",height:"150",width:"150"
                  #hidden-content-delete1 削 除
                  =image_tag '',id:"image-file2",height:"150",width:"150"
                  #hidden-content-delete2 削 除
                  =image_tag '',id:"image-file3",height:"150",width:"150"
                  #hidden-content-delete3 削 除
                  :javascript
                    $(function(){
                          product_images_attributes_0_src.addEventListener('change', function(e){
                            var file = e.target.files[0];
                            var fileReader = new FileReader();
                            fileReader.onload = function() {
                              var dataUri = this.result;
                              var img = document.getElementById('image-file');
                              img.src = dataUri;
                              img.style.opacity = 1;
                          }
                              fileReader.readAsDataURL(file);
                              $('#product_images_attributes_0_src').hide();
                              var block = document.getElementById('product_images_attributes_1_src');
                              block.style.display = "block";
                              var d = document.getElementById('hidden-content-delete');
                              d.style.display = "block";
                              $(function(){
                                $('#hidden-content-delete').on('click', function(){
                                  $('#image-file').remove();
                                  $('#hidden-content-delete').remove();
                                  $('#product_images_attributes_0_src').remove();
                                });
                              });
                            });
                          product_images_attributes_1_src.addEventListener('change', function(e){
                            var file = e.target.files[0];
                            var fileReader = new FileReader();
                            fileReader.onload = function() {
                              var dataUri = this.result;
                              var img = document.getElementById('image-file1');
                              img.src = dataUri;
                              img.style.opacity = 1;
                            }
                            fileReader.readAsDataURL(file);
                              $('#product_images_attributes_1_src').hide();
                              var img = document.getElementById('product_images_attributes_2_src');
                              img.style.display = "block";
                              var d = document.getElementById('hidden-content-delete1');
                              d.style.display = "block";
                              $(function(){
                                $('#hidden-content-delete1').on('click', function(){
                                  $('#image-file1').remove();
                                  $('#hidden-content-delete1').remove();
                                  $('#product_images_attributes_1_src').remove();
                                });
                              });
                            });
                          product_images_attributes_2_src.addEventListener('change', function(e){
                            var file = e.target.files[0];
                            var fileReader = new FileReader();
                            fileReader.onload = function() {
                              var dataUri = this.result;
                              var img = document.getElementById('image-file2');
                              img.src = dataUri;
                              img.style.opacity = 1;
                            }
                            fileReader.readAsDataURL(file);
                              $('#product_images_attributes_2_src').hide();
                              var img = document.getElementById('product_images_attributes_3_src');
                              img.style.display = "block";
                              var d = document.getElementById('hidden-content-delete2');
                              d.style.display = "block";
                              $(function(){
                                $('#hidden-content-delete2').on('click', function(){
                                  $('#image-file2').remove();
                                  $('#hidden-content-delete2').remove();
                                  $('#product_images_attributes_2_src').remove();
                                });
                              });
                          });
                          product_images_attributes_3_src.addEventListener('change', function(e){
                            var file = e.target.files[0];
                            var fileReader = new FileReader();
                            fileReader.onload = function() {
                              var dataUri = this.result;
                              var img = document.getElementById('image-file3');
                              img.src = dataUri;
                              img.style.opacity = 1;
                            }
                            fileReader.readAsDataURL(file);
                            $('#product_images_attributes_3_src').hide();
                            var d = document.getElementById('hidden-content-delete3');
                              d.style.display = "block";
                              $(function(){
                                $('#hidden-content-delete3').on('click', function(){
                                  $('#image-file3').remove();
                                  $('#hidden-content-delete3').remove();
                                  $('#product_images_attributes_3_src').remove();
                                });
                              });
                            });
                          });
                = f.fields_for :images do |i|
                  = i.file_field :src, class: "js-file"
        %hr.underline
        .product-description
          .product-description__form
            .product-description__form__name-form
              .product-description__form__name-form__name
                %label.product-info 商品名
                %span.necessary 必須
              .input-form
                = f.text_field :name, class: "product-info", placeholder: "40文字まで", type: "text", maxlength: "40", required: "" 
            .description-form
              .description-form__name
                %label.product-info 商品の説明
                %span.necessary 必須
              = f.text_area :content, class: "product-info", rows: "7", maxlength: "1000", required: "", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" 
              .counter 0/1000
        %hr.underline
        .product-detail 
          .product-detail__form
            %p.title-name 商品の詳細
            .category-form
              .category-form__name
                %label.product-info カテゴリー
                %span.necessary 必須
              .select-form
                .listing-product-detail__category
                  .listing-select-wrapper
                    .listing-select-wrapper__box
                    .select-area
                      = f.select :category_id, @category_parent_array,{}, { class: 'product-info',id: 'parent_category', required:""}
            .brand-form
              .brand-form__name
                %label.product-info ブランド
                %span.optional 任意
            .select-form
              .select-area
                = f.text_field :bland_name, class: "product-info", placeholder: "例) シャネル", type: "text", maxlength: "40"
            .status-form
              .status-form__name
                %label.product-info 商品の状態
                %span.necessary 必須
            .select-form
              .select-area
                = f.collection_select :product_status_id, ProductStatus.all, :id, :name, {include_blank: "選択して下さい", selected: "選択して下さい"}, class: 'product-info', required: ""
        %hr.underline
        .about-delivery
          .about-delivery__form
            .title
              %p.title-name
                配送について
            .cost-form
              .cost-form__name
                %label.product-info 配送料の負担
                %span.necessary 必須
            .select-form
              .select-area
                = f.collection_select :delively_cost_id, DelivelyCost.all, :id, :name, {include_blank: "選択して下さい", selected: "選択して下さい"}, class: 'product-info', required: ""
            .method-form
              .method-form__name
                %label.product-info 配送の方法
                %span.necessary 必須
            .select-form
              .select-area
                = f.collection_select :delively_method_id, DelivelyMethod.all, :id, :name, {include_blank: "選択して下さい", selected: "選択して下さい"}, class: 'product-info', required: ""
            .area-form
              .area-form__name
                %label.product-info 発送元の地域
                %span.necessary 必須
            .select-form
              .select-area
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択して下さい", selected: "選択して下さい"}, class: 'product-info', required: ""
            .days-form
              .days-form__name
                %label.product-info 発送までの日数
                %span.necessary 必須
            .select-form
              .select-area 
                = f.collection_select :delively_days_id, DelivelyDays.all, :id, :name, {include_blank: "選択して下さい", selected: "選択して下さい"}, class: 'product-info', required: ""
        %hr.underline
        .price
          .price__form
            .price__form__title
              %p.title-name
                価格（¥300〜9,999,999）
            .price-form
              .price-name-box
                .price-name
                  %label.product-info 販売価格
                  %span.necessary 必須
                %span.yen
                  %i.fas.fa-yen-sign
                .yen-form
                  .yen-form__box 
                    = f.number_field :price, class:"yen", placeholder: "0", type: "number", autocomplete: "off", min: "300", max: "9999999", required: "" 
              .fee-form
                .name 販売手数料(10%)
              %hr.underline
              .return-form
                .name 販売利益
        .btn-form
          = f.submit "出品する", class: "product-btn"
          %button.save-btn{type: "button"} 下書きに保存
          %a.back
            もどる 
        .attention 
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして 加盟店規約 に同意したことになります。
  = render partial: "footer_sub"
