.product-show
  .product-show__content
    %h2.product-show__content__title 商品名 
    .product-show__content__image
      %p
        = image_tag "https://picsum.photos/200/200", class: "product-show__content__image__main"
      %ul
        %li 
          = image_tag "https://picsum.photos/200/200", class: "product-show__content__image__sub"
        %li
          = image_tag "https://picsum.photos/200/200", class: "product-show__content__image__sub"
        %li
          = image_tag "https://picsum.photos/200/200", class: "product-show__content__image__sub"
    .product-show__content__price
      %h3 ¥30000
      %p (税込) 送料込み
    .product-show__content__explanation
      %p 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
    .product-show__content__info
      %table.product-show__content__info__table
        %tbody
          %tr
            %th 出品者
            %td hoge
          %tr
            %th カテゴリー
            %td
              = link_to "ベビー・キッズ", root_path
              %br
              = link_to "ベビー服(男女兼用) ~95cm", root_path
              %br
              = link_to "アウター", root_path
          %tr
            %th ブランド
            %td 
          %tr
            %th 商品のサイズ
            %td 
          %tr
            %th 商品の状態
            %td 未使用に近い
          %tr
            %th 配送料の負担
            %td 送料込み（出品者負担）
          %tr
            %th 発送元の地域
            %td
              = link_to "岩手県", root_path
          %tr
            %th 発送日の目安
            %td 4-7日で発送

    %ul.product-show__content__option
      %li.product-show__content__option__like お気に入り 0
      %li.product-show__content__option__report 不適切な商品の通報
      
  .product-show__comment
    %form
      %textarea.product-show__comment__input
      %p.product-show__comment__caution 
        相手のことを考え丁寧なコメントを心がけましょう。
        %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %button.product-show__comment__btn コメントする

  %ul.product-show__links
    %li.product-show__links__prev
      = link_to "前の商品", root_path
    %li.product-show__links__next
      = link_to "後ろの商品", root_path

  .product-show__more_items
    = link_to "ベビー・キッズをもっと見る", root_path