= render partial: "products/header"

.product-breadcrumb
  %ul.product-breadcrumb__list
    %li
      = link_to "FURIMA", root_path
    %li
      = icon("fa", "angle-right")
    %li
      = link_to product_path do
        = @product.category.parent.parent.name
    %li
      = icon("fa", "angle-right")
    %li
      = link_to product_path do
        = @product.category.parent.name
    %li
      = icon("fa", "angle-right")
    %li
      = link_to product_path do
        = @product.category.name
    %li
      = icon("fa", "angle-right")
    %li.product-breadcrumb__list--this
      = @product.name

.product-show
  .product-show__content
    %h2.product-show__content__title
      = @product.name
    .product-show__content__image
      - if @product.buyer_id == nil
        = image_tag @image.src.url, class: "product-show__content__image__main", id: "show-main"
      - else
        %div.product-show__content__image__sold
          = image_tag @image.src.url
          .product-show__content__image__sold__text SOLD

      %ul.product-show__content__image__list
        - @images.each do |image|
          %li
            = image_tag image.src.url

    .product-show__content__price
      %h3
        = tax_included_price(@product.price)
      %p (税込)

    - if user_signed_in? && current_user.id != @product.seller_id
      - if @product.buyer_id == nil
        = link_to purchase_path(@product.id), class: "product-show__content__purchace" do
          %button 購入画面に進む
      - else
        = link_to product_path, class: "product-show__content__soldout" do
          %button 売り切れました

    .product-show__content__explanation
      %p
        = @product.content
    .product-show__content__info
      %table.product-show__content__info__table
        %tbody
          %tr
            %th 出品者
            %td
              = @user.nickname
          %tr
            %th カテゴリー
            %td
              = link_to product_path, class: "product-show__content__info__table__category" do
                = @product.category.parent.parent.name
                %br
                = @product.category.parent.name
                %br
                = @product.category.name
          %tr
            %th ブランド
            %td
              = @product.bland_name
          %tr
            %th 商品のサイズ
            %td 
          %tr
            %th 商品の状態
            %td
              = @product.product_status.name
          %tr
            %th 配送料の負担
            %td 
              = @product.delively_cost.name
          %tr
            %th 発送元の地域
            %td
              = link_to product_path, class: "product-show__content__info__table__prefectures" do
                = @product.prefecture.name
          %tr
            %th 発送日の目安
            %td
              = @product.delively_days.name

    %ul.product-show__content__option
      = link_to product_path, class: "product-show__content__option__like" do
        %li お気に入り 0
      = link_to product_path, class: "product-show__content__option__report" do
        %li 不適切な商品の通報

  - if user_signed_in? && current_user.id == @product.seller_id
    .product-show__user-info
      = link_to edit_product_path, class: "product-show__user-info--edit" do
        %button 商品の編集
      %p or
      = link_to product_path, class: "product-show__user-info--delete", method: :delete, data: { confirm: "本当に削除しますか？" } do
        %button 商品の削除
      
  .product-show__comment
    .product-show__comment__messages
      %ul
        %li < コメント一覧 >
        - @comments.each do |comment|
          %li
            %span
              = comment.user.nickname
            ：
            %span
              = comment.text

    -if current_user
      = form_with(model: [@product, @comment], local: true) do |f|
        = f.text_area :text, rows: "3", placeholder: "コメントする", class: "product-show__comment__input"
        %p.product-show__comment__caution 
          相手のことを考え丁寧なコメントを心がけましょう。
          %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
        - if @product.buyer_id == nil
          = f.submit "コメントする", class: "product-show__comment__btn"
        - else
          %button.product-show__comment__sold-btn 売り切れのためコメントできません

  %ul.product-show__links.product-show__links__clearfix
    - if @product.previous.present?
      %li
        = link_to "前の商品", product_path(@product.previous), class: "product-show__links__prev"
    - if @product.next.present?
      %li
        = link_to "後ろの商品", product_path(@product.next), class: "product-show__links__next"

  .product-show__more-items
    = link_to product_path do
      = "#{@product.category.parent.parent.name}をもっと見る"

= render partial: "products/footer"